<template name="postsList">
  <div class="posts page">
    <div class="wrapper">
      {{#each posts}}
        {{>postsListItem}}
      {{/each}}
    </div>
    
    {{#if nextPath}}
      <a class="load-more" href="{{nextPath}}">Load more</a>
    {{else}}
      {{#unless ready}}
        <!-- {{> spinner}} -->
      {{/unless}}
    {{/if}}
  </div>
</template>

<template name="postsListItem">
  <div class="post">
    <div class="post-content">
      <p><a href="#">{{_id}}</a></p>
      <p>{{content}}</p>
      <p>
        {{#each actions}}
          {{this}}*{{count ../nActions this}}
        {{/each}}
      </p>
    </div>
  </div>
</template>