<template name="postsList">
  <div class="posts page">
    <div class="wrapper">
      {{#each posts}}
        {{>postsListItem}}
      {{/each}}
    </div>
    
    {{#if nextPath}}
      <a class="load-more" href="{{nextPath}}">Load more</a>
    {{else}}
      {{#unless ready}}
        <!-- {{> spinner}} -->
      {{/unless}}
    {{/if}}
  </div>
</template>

<template name="postsListItem">
  <div class="post">
    <div class="post-content">
      <p><a class="post-title" href="#">{{_id}}</a></p>
      <p>内容：{{content}}</p>
      <p>状态：{{status}}</p>
      <p>场景：{{scene}}</p>
      <p>星级：{{stars}} {{#unless stars}}<a class="set-stars" href="#">Set</a>{{/unless}}</p>
      <p>时间：{{begin}} ~ {{end}}</p>
      <p>回应：
        {{#each actions}}
          <p style="margin-left:30px;">【{{this}}】 count:{{count ../nActions this}} seeds:{{seed ../seeds this}} 
          <a class="set-seed" data-id="{{../_id}}" data-action="{{this}}" href="#">Set</a></p>
        {{/each}}
      </p>
      <p>
        {{#if reported}}
        <a class="forbid" href="#">封禁</a>
        {{/if}}
      </p>
      <p>发表：{{timestamp2datetime ctime}}</p>
    </div>
  </div>
</template>